body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-bg {
    background-color: rgb(114, 2, 114);
}

.main-color {
    background-color: #e4717a !important;
}

/* banner */

.banner {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../image/produk/bunga\ banner.jpg');
    background-size: cover;
    background-position: center;
}

/* promo */

.hovered-card {
    transition: .3s;
    margin-bottom: 20px;
}

.hovered-card:hover {
    transform: scale(1.1);
}

/* pelayanan */

.icon-service{
    width: 90px;
    height: 90px;
    border: solid #fff 2px;
    border-radius: 50%;
    color: #ffff00;
}

.pelayanan {
    background-color: #700970;
}

.pelayanan-content {
    transition: .3s;
}

.pelayanan-content:hover {
    transform: scale(1.1);
}

.pelayanan .icon-circle {
    width: 90px;
    height: 90px;
    border: solid 2px;
}

/* menu favorit */

.menu-favorit {
    background-color: rgba(243, 243, 243);
}

.menu-favorit-content {
    transition: .3s;
}

.menu-favorit-content:hover {
    transform: scale(1.1);
}

/* testimony */

.testimony-content {
    transition: .3s;
}

.testimony-content:hover {
    transform: scale(1.1);
}

/* subscribe */

.subscribe-content {
    background-color: rgba(0, 0, 0, 0.7);
}

/* produk banner */
.produk-banner {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/banner.jpg');
    background-size: cover;
    background-position: center;
}

.content-subscribe{
    background-color: rgba(0, 0, 0,0.7);
}

.banner-produk {
    height: 55vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/produk/bunga\ banner.jpg');
    background-size: cover;
    background-position: center;
}

